.root {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    background-color: #231F20;
    padding: 2rem;
    margin: 0;
}

.row {
    margin: 0 0 2rem 0;
    
}

.main-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-col {
    display: flex;
    justify-content: flex-end;
}

button, input, .select-number {
    background-size: cover;
}

button, input, .select-number, .avatar, .upgrade {
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome                         */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    text-align: center;
    outline: none;
    border: none;
}

.mute, .back-button {
    width: 120px;
    height: 75px;
}

.main-button, .input, .select-number, .label, .red-bad-button{
    width: 450px !important;
    height: 112.5px;
    line-height: 112.5px;
    font-size: 2rem;
}

button:hover {
    color: #007bff;
}

.main-button {
    background-image: url('./assets/yellow_button/yellow_button_100x25.png');
}

.red-bad-button {
    background-image: url('./assets/red_button/red_button_100x25.png');
}

.input, .select-number{
    background-image: url('./assets/green_button/green_button_100x25.png');
    color: white;
}

.label {
    background-color: #C4C4C4;
    text-align: center;
}

.back-button {
    background-image: url('./assets/back_button/back_button_40x25.png');
}

.header {
    font-size: 2rem;
    padding-top: 1rem;
}

.room, .player-name, .info {
    margin: 0.5rem 0;
    font-size: 1.4rem;
}

.selected {
    background-color: #ffff00 !important;
}

.accepted {
    background-color: #00ff00 !important;
}

.option {
    line-height: 50px;
    padding: 0 1rem;
    margin: 0 1.2rem;
    background-color: #00000000;
}

.game-info, .players-info {
    width: 450px;
    background-color: #C4C4C4;
    padding: 1rem 0 2rem 0;
    margin: 10vh 0;
    text-align: center;
}

.players-container {
    background-color: #C4C4C4;
    height: 65vh;
    padding: 1rem !important;
}

.player {
    height: 10vh;
    background-color: #795548;
    padding: 0.5rem;
    margin: 0;
}

.avatar, .upgrade {
    height: 100%;
    background-size: contain;
    background-position: center;
}

.upgrade {
    width: 18%;
    background-position: center bottom;
}